//@import "../variables/color.scss";

// $root-colors: (
//     'bg': $light,
//     'color': $dark,
// );

// :root {
//     @each $key, $value in $root-colors {
//         --#{$key}: #{$value}
//     }
// }

$emerald-colors: (
    'bg': $sunflower,
    'color': $white,
);

@each $key, $value in $theme-colors {
    .#{unquote($key)}-mode {
        --bg: #{$value};
        --color: #{$white};
        @if $key == light {
            --color: #{$dark};
        } @else if $key == clouds {
            --color: #{$dark};
        } 
        // @else if $key == emerald {
        //  // @each $key, $value in $emerald-colors {
        //  //  --#{$key}: #{$value}
        //  // }
        // }
    }
}

// .info-mode {
//  --bg: #{$info};
// }

// .dark-mode,
// .primary-mode,
// .secondary-mode,
// .success-mode,
// .danger-mode,
// .warning-mode,
// .info-mode {
//  --color: #fff;
// }
