@import "../variables/color.scss";

:root {
	--bg: #{$light};
}

@each $key, $value in $theme-colors {
	.#{unquote($key)}-mode {
		--bg: #{$value};
		--color: #{$white};
		@if $key == light {
			--color: #{$dark};
		} @else if $key == clouds {
			--color: #{$dark};
		}
	}
}

// .info-mode {
// 	--bg: #{$info};
// }

// .dark-mode,
// .primary-mode,
// .secondary-mode,
// .success-mode,
// .danger-mode,
// .warning-mode,
// .info-mode {
// 	--color: #fff;
// }
