// Variables
@import "variables/color";

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/src/index.scss";

@include bg-variant(".bg-turquoise", $turquoise);

@import "themes/color-mode";

//New Components

body {
	background-color: var(--bg);
	color: var(--color);
	transition: background-color 0.3s;
}

.page-enter-active,
.page-leave-active {
	transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
	opacity: 0;
}
