// @import "../node_modules/bootstrap/scss/functions";
// @import "../node_modules/bootstrap/scss/variables";
:root {
	--bg: #f8f9fa;
}
.dark-mode {
	--bg: #343a40;
}
.primary-mode {
	--bg: #007bff;
}
.secondary-mode {
	--bg: #6c757d;
}
.success-mode {
	--bg: #28a745;
}
.danger-mode {
	--bg: #dc3545;
}
.warning-mode {
	--bg: #ffc107;
}
.info-mode {
	--bg: #17a2b8;
}
.dark-mode,
.primary-mode,
.secondary-mode,
.success-mode,
.danger-mode,
.warning-mode,
.info-mode {
	--color: #fff;
}
body {
	background-color: var(--bg);
	color: var(--color);
	transition: background-color 0.3s;
}

.page-enter-active,
.page-leave-active {
	transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
	opacity: 0;
}
