@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/src/index.scss";

// Variables
@import "variables/color";
@each $key, $value in $theme-colors {
	@include bg-variant(".bg-#{unquote($key)}", $value, $ignore-warning: true);
}
// @include bg-variant(".bg-turquoise", $turquoise, $ignore-warning: true);
// @include bg-variant(".bg-amethyst", $amethyst, $ignore-warning: true);

@import "themes/color-mode";

//New Components
body {
	background-color: var(--bg);
	color: var(--color);
	transition: background-color 0.3s;
}

.page-enter-active,
.page-leave-active {
	transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
	opacity: 0;
}
